
<div class="video-container {{- with .Get "class" }} {{ . }}{{- end }}">
  <video 
    controls 
    {{- if or (.Get "autoplay") (eq (.Get "autoplay") "true") }} autoplay muted playsinline{{ end }}
    {{- if or (.Get "loop") (eq (.Get "loop") "true") }} loop{{ end }}
    {{- if or (.Get "muted") (eq (.Get "muted") "true") }} muted{{ end }}
    {{- with .Get "poster" }} poster="{{ . }}"{{ end }}
    {{- with .Get "width" }} width="{{ . }}"{{ end }}
    {{- with .Get "height" }} height="{{ . }}"{{ end }}
    preload="auto">
    
    <source src="{{ .Get "src" | default (.Get 0) }}" type="video/{{ .Get "type" | default "mp4" }}">
    Your browser does not support the video tag.
  </video>
</div>

